#-------------- API KEYS --------------------
OPENAI_API_KEY=your_openai_api_key
OLOSTEP_API_KEY=your_olostep_api_key

# -------- Logging Configurations -----------
LOG_LEVEL=DEBUG

# -------- Email Configurations -----------
TO_EMAIL=test@gmail.com
FROM_EMAIL=test@gmail.com
EMAIL_PWD=YOUR_EMAIL_APP_PWD
SMTP_SERVER=SERVER_ADDRESS
SMTP_PORT=SERVER_PORT